<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visuality</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <nav class="flex items-center justify-between py-[10px] px-[20px] w-full bg-pink-500">
        <!-- Logo -->
        <div class="logo">
            <img class="w-[100px] rounded-full" src="/images/favicon-16x16.png" alt="Logo">
        </div>

        <!-- Weather Container -->
        <div class="weather-container flex items-center gap-1 bg-white/20 p-0rounded-lg">
            <% if (weather) { %>
              <img src="http://openweathermap.org/img/wn/<%= weather.icon %>.png" alt="Weather Icon">
              <div>
                <p class="text-lg-500 text-white"><%= weather.city %></p>
                <p class="text-lg-500 text-white"><%= weather.temperature %>°C, <%= weather.description %></p>
              </div>
              <button id="refreshWeather" class="ml-2 p-1 bg-white/20 rounded-full hover:bg-white/30 transition-colors duration-300">
                <i class="ri-refresh-line text-white"></i>
              </button>
            <% } else { %>
              <p class="text-sm text-white">Weather data unavailable</p>
            <% } %>
        </div>

        <!-- Navigation Links -->
        <div class="link flex gap-10 justify-center items-center">
          <a class="text-white font-medium text-lg" href="/profile">Profile</a>
          <a class="text-white font-medium text-lg" href="/feed">Feed</a>
          <a class="bg-red-700 hover:bg-red-800 text-white font-bold py-2 px-6 rounded" href="/logout">Log out</a>
      </div>
    </nav>
</body>
</html>