<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visionary</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="navbar">
  <nav>
    <a href="/signup" class="upbtn">Sign up</a>
  </nav>
  </div>
  <div class="container">
    <div class="content">
      <!--Visionary logo-->
      <p class="header">Welcome to Visionary</p> 
      <form action="/login" method="post">
  
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" class="detail" id="username"/><br />
  
        <label for="password">Password</label><br />
        <input type="password" placeholder="Password" name="password" class="detail" id="password"/>

        <input type="submit" class="btn int" value="Log In">

      </form>

    </div>
  </div>
  

</body>
</html>